@{
    ViewData["Title"] = "Home";
}

<img class="img-fluid bg-image" src="~/img/sivantos-singapore-office.jpg"/>

<div class="bg-text">
    <h1>We are the Mozart</h1>
    <p>For confidentiality reasons, this is only a sample website for demo purpose...</p>
</div>
