@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>For confidentiality reasons, this is only a sample website for demo purpose, and does not contain any internal training information.</p>
<p>All the content in this website are obtained from public sources</p>
